body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    background: black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#display {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    color: white;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

/* Hover + Click effect */
button:hover {
    background: orange;
    color: black;
}

button:active {
    background: orange;
    color: black;
    transform: scale(0.95);
}

.equal {
    grid-column: span 2;
    background: #333;
}

.clear {
    background: #444;
}